---
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
import Header from '../components/header.astro';

const pageTitle = 'Menu';
---

<PageLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
</PageLayout>
