---
const { pageTitle } = Astro.props;
---

<div>{pageTitle} Overview</div>

<style>
  div {
    background-color: white;
    height: 5vh;
    border-bottom: 0.5px solid rgba(105, 108, 107, 0.4);
    padding: 2vh 0 0 2vw;
    font-weight: 600;
  }
</style>
