---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<div class='nav-links'>
  <a class={currentPath === '' ? 'active' : ''} href='/'>Dashboard</a>
  <a class={currentPath === 'menu/' ? 'active' : ''} href='/menu/'>Menu</a>
  <a class={currentPath === 'profile/' ? 'active' : ''} href='/profile/'
    >Profile</a
  >
</div>

<style>
  div {
    margin: 0;
  }

  a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .active {
    background-color: rgba(100, 241, 82, 0.5);
    color: rgb(32, 108, 22);
  }
</style>
