---
---

<div class='nav-links'>
  <a href='/'>Dashboard</a>
  <a href='/menu'>Menu</a>
  <a href='/profile'>Profile</a>
</div>

<style>
  div {
    margin: 0;
  }

  a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  a:hover,
  a:focus {
    background-color: #ff9776;
  }
</style>
