---
import Navigation from '../components/Navigation.astro';
---

<div class='sidebar'>
  <Navigation />
</div>

<style>
  .sidebar {
    width: 15vw;
    height: 98vh;
    border-right: 0.5px solid rgba(105, 108, 107, 0.4);
  }
</style>
